.back-to-top-btn {
    background-color: #D7DADC;
    border: none;
    border-radius: 9999px;
    bottom: 0;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    padding: 10px;
    position: fixed;
}

.back-to-top-btn:hover {
    background-color: rgb(180, 180, 180);
    cursor: pointer;
}

.right-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 315px;
    width: 100%;
}